
.landing-page {
    font-family: sans-serif;
    width: 1900px;
    margin: auto;
}

.landing-page-header {
    width: 100%;
    background-color: #1D2124;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 150px;
}

.logo-image {
    padding: 11px;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
    align-self: center;
}

.header-navigation-bar {
    display: flex;
}

.header-navigation-bar-link {
    font-size: 15px;
    text-decoration: none;
    color: white;
    align-self: center;
    padding: 0 19px;
}

.header-navigation-bar-link:hover {
    color: #169CB4;
}

.search-link {
    display: flex;
}

.fa-search {
    color: white;
    align-self: center;
    padding: 17px 17px;
    background-color: #171A1C;
}

.fa-search:hover {
    color: #169CB4;
}

.first-screen-heading {
    background-image: url("../img/html_css_homework_homework6_img_header-bg.jpeg");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-screen-heading-text {
    font-size: 27px;
    text-transform: uppercase;
    color: white;
    width: auto;
    padding-top: 135px;
    padding-bottom: 40px;
}

.first-screen-popular-posts {
    background-color: white;
}

.first-screen-heading-buttons-block {
    display: flex;
    width: 350px;
    margin-bottom: 125px;
}

.first-screen-button {
    width: 170px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 21px;
    text-align: center;
    font-size: 18px;
}

.subscribe {
    background-color: #89CA62;
    margin-right: 20px;
}

.subscribe:hover {
    background-color: #6F9D59;
}

.best-articles {
    background-color: #14B9D5;
}

.best-articles:hover {
    background-color: #349BAD;
}

.first-screen-popular-posts {
    width: 100%;
    background-color: #F2F2F2;
}

.popular-posts-content {
    width: 1200px;
    margin: auto;
}

.popular-posts-all-columns {
    display: flex;
    justify-content: space-between;
}

.most-popular-posts-text {
    width: 100%;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    padding: 60px 0;
}

.popular-posts-link {
    text-decoration: none;
}

.popular-posts-column1 {
    width: 370px;
    /*margin-right: 30px;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.popular-posts-block {
    margin-bottom: 30px;
}

.popular-posts-block:hover {
    box-shadow: 0 5px 4px -6px black;
}

.popular-posts-column2 {
    /*margin-right: 30px;*/
}

.block-promo-text {
    color: #353A3D;
    background-color: #FFFFFF;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: -2px;
}

.second-screen-heading {
    display: flex;
    justify-content: center;
    background-image: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular-clients-grid {
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    grid-template-rows: 60px 60px 60px;
    padding-bottom: 174px;
    padding-top: 174px;
    grid-gap: 30px;
}

.most-popular-clients-text {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    text-align: center;
    align-self: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    /*padding-top: 150px;*/
    /*padding-bottom: 31px;*/
}

.popular-clients-divison-line {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    width: 60px;
    height: 1px;
    border-color: transparent;
    background-color: #169CB4;
    border-radius: 3px;
    align-self: center;
}

.national-post {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.dryme {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.house-and-home {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.journey {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.popular-clients-brand-image {
    justify-self: center;
    align-self: center;
}

.top-rated-text {
    width: 100%;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    padding: 60px 0;
}

.top-rated-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.hot-news-text {
    width: 100%;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    padding: 60px 0;
}

.hot-news-section {
    width: 100%;
    background-color: white;

}

.hot-news-grid {
    display: grid;
    width: 1205px;
    margin: 0 auto 46px;
    grid-template-columns: 277px 280px 280px 277px;
    grid-row-gap: 22px;
    grid-column-gap: 30px;

}

.hot-news-blocks-heading {
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    text-align: right;
    padding-right: 15px;
}

.hot-news-paragraphs {
    font-size: 14px;
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    line-height: 1.7;
}

.hot-news-block-1 {
    /*width: 1151px;*/
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    /*margin-right: 18px;*/
}

.hot-news-block1-8-text {
    display: flex;
    width: 346px;
    background-color: #F9F7F7;
    justify-content: center;
    flex-direction: column;
    color: #353A3D

}

.hot-news-block3-6-text {
    background-color: #F9F7F7;
    width: 554px;
    margin-top: -3px;
}

.heading-1-8 {
    padding-top: 21px;
    padding-bottom: 11px;
}

.heading-3-6 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.hot-news-block-2 {
    grid-column: 4 / 5;
    grid-row: 1;
    margin-left: -33px;
    /*padding-left: 16px;*/
}

.heading-2-7 {
    background-color: #F9F7F7;
    margin-top: -3px;
    padding: 16px;
    width: 245px;
    text-align: center;
}

.hot-news-block-3 {
    grid-column: 1 / 3;
    grid-row: 2;
}

.hot-news-block-4 {
    grid-column: 3 / 5;
    grid-row: 2;
}

.hot-news-block-5 {
    grid-column: 1 / 3;
    grid-row: 3;
}

.hot-news-block-6 {
    grid-column: 3 / 5;
    grid-row: 3;
}

.hot-news-block-7 {
    grid-column: 1 / 2;
    grid-row: 4;
}

.hot-news-block-8 {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 5;
    grid-row: 4;
    margin-left: 33px;
}

.bottom-copyright-footer {
    width: 100%;
    background-color: #1D2124;
}

.copyright-bottom-image-logo {
    width: 1196px;
    margin: auto;
    display: grid;
    grid-template-columns: 620px 540px
}

.copyright {
    grid-column: 1 / 2;
    color: white;
    padding: 20px 0;
    text-align: left;
    font-size: 13px;
}

.footer-image-logo-text {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 3;
    justify-content: flex-end;
    align-items: center;
}

.footer-logo-image {
    height: 20px;

}

.footer-logo-image-text {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
